// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_common.scss" file. You may not need to write any code.

// Headings
//------------------------------------------
body {
  @include font_body();
  color: $dark-gray;
  p,li {
    font-family: $font-sans;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
  }
}

h1{
  font-family: $font-bigtitle;
  font-size: 50px;
  color:$light-blue;
  text-transform: uppercase;
  line-height: 48px;


}
h2{
  font-family: $font-title;
  font-size: 20px;
  color:$green;
  text-transform: uppercase;
  line-height: 20px;

}
h3{
  font-family: $font-sans;
  font-size: 16px;
}
//h1, h3,
// h4, h5, h6 {}

// Anchors
//-----------------------------------------------------------------------------
// a {}

// a:focus {}

// a.active,
// a:active,
// a:hover {}

// Form Input
//-----------------------------------------------------------------------------
// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {
// }

// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {

// }

select {
  font-family: $font-sans;
  color:$gray;
}

.pagination.pager {
  text-transform: uppercase;

}