.page{
  .image {
    margin-bottom: 12px;
  }
}
.field-name-field-adjuntos {
    span.file {
      display: block;
      padding: 10px 0px;
      border-bottom: 1px solid #e4e4e4;
      .file-size{
        display: none;
      }
    }
  }
  field-label{
    font-family: $font-title;
    font-size: 20px;
    color:$green;
    text-transform: uppercase;
    margin-bottom: 12px;
  }