.front section.l-featured.row{
  width: 100%;
  max-width: 100%;
  margin: 0;
.views-field-body{
  position: absolute;
  top: 50px;
  @media screen and (max-width: 1240px) {
      top: 20px;
    }
  .field-content{
    p{
      font-family: $font-bigtitle;
      color:$white;
      text-transform: uppercase;
      margin-left: -66px;
      @media #{$large-up}{
        font-size: 20px;
        line-height: 24px;
        padding: 10px 0 0 20px ;
      }
      @media #{$xlarge-up}{
        font-size: 26px;
        line-height: 28px;
      }
    }
  }
}
}

.maintenance-page{
  .div#page {
    text-align: center;
    margin-top: 200px;
}
}