//---------------------------------------
// Foundation
//---------------------------------------
//$row-width: rem-calc(1140);
/*$column-gutter: rem-calc(20);*/
$row-width: 1140px;
$total-columns: 12;
$column-gutter: 20px;

//---------------------------------------
// Colors
//---------------------------------------
$dark-blue: #06364a;
$light-blue: #197195;
//---------------------------------------
// Fonts
//---------------------------------------
$font-title: 'segoeuisl', sans-serif;
$font-bigtitle: 'segoeuil', sans-serif;
$font-sans: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;

