//---------------------------------------
// Foundation
//---------------------------------------
//$row-width: rem-calc(1140);
/*$column-gutter: rem-calc(20);*/
$row-width: 1140px;
$total-columns: 12;
$column-gutter: 20px;

//---------------------------------------
// Colors
//---------------------------------------
$dark-blue: #06364a;
$light-blue: #197195;
$gray: #999;
$dark-gray: #666;
$white: #fff;
$green:#5bb531;
$dark-green:#4d9a2a;
//---------------------------------------
// Fonts
//---------------------------------------
$font-title: 'segoeuisl', sans-serif;
$font-bigtitle: 'segoeuil', sans-serif;
$font-sans: "opensans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;



$crumb-bg:white;
$crumb-border-size: 0px;