//slide productos home

.view-header {
  display:block;
  @media screen and (max-width:40em) {
    display: none;
  }
}

.view-slide-seguros-home {
  margin-top: 55px;
  @media screen and (max-width: 40em) {
    margin-top: 0px;
  }
  .view-header {
    text-align: center;
    margin-bottom: 24px;
    @media screen and (max-width: 40em) {
      margin-bottom: 0px;
    }
  }
  .views-slideshow-controls-top {
    margin-bottom: 24px;
    @media screen and (max-width: 40em) {
      margin-bottom: 0px;
    }
    .views-content-name {
      padding: 0 20px;
      font-size: 17px;
      text-transform: uppercase;
      display: inline-block;
      color: $gray;
      font-family: $font-title;
      @media screen and (max-width: 40em) {
        display: none;
      }
    }
  }
  #views_slideshow_cycle_main_slide_seguros_home-block {
    background-color: $light-blue;
    margin-bottom: 60px;
    text-align: center;
    .views-field-name {
      display: none;
    }
    .big-title-white {
      color: $white;
      margin: auto;
      //padding-top: 80px;
      @media #{$small-up} {
        font-size: 30px;
        line-height: 34px;
        padding-top: 30px;
      }
      @media #{$medium-up} {
        font-size: 34px;
        line-height: 38px;
        padding-top: 30px;
      }
      @media #{$large-only} {
        font-style: 34px;
        line-height: 42px;
        padding-top: 40px;
      }
      @media #{$xlarge-up} {
        padding-top: 90px;
      }
    }
    .views-field-field-subtitulo {
      color: $white;
      font-size: 16px;
      font-family: $font-sans;
      margin-bottom: 10px;
      @media screen and (max-width: 40em) {
        margin-bottom: 6px;
      }
    }
    .views-field.views-field-field-image {
        float: right;
        padding: 0;
        margin: 0;
      @media screen and (max-width:40em) {
      margin-bottom: 10px;
    }
    }
    .field-content {
      float: right;
    }
    .views-field-description {
      color: $white;
      padding: 0 40px;
    }

  }
  .views-slideshow-pager-field-item.views_slideshow_pager_field_item.active {
    background-color: $green;
    padding: 6px;
    display: inline-block;
    border-radius: 6px;
    @media screen and (max-width: 40em) {
      display: none;
    }
    .views-content-name {
      color: $white;
    }
  }
}