// Non-modular or client styles for .l-footer region.
.footer-wrapper{
  background: $dark-blue;
  color: white;
  padding: $column-gutter/2 0;
}
.footer-first-wrapper{
  background: $light-blue;
  color: white;
}